// Mixins Here
.btn-design(@background, @size, @border-rad) {
    color: white;
    padding: 1.5% 3.5%;
    border-radius: @border-rad;
    background: @background;
    font-size: @size;
}

.hover-design() {
    color: darkorange;
    font-size: 1.7rem;
}

.mobile-mix() {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}